body {
  padding-top: 50px;
}

.navbar-nav > li:hover {
    background-color: #193200;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #2E5C00;
}

.navbar {
    background-color: #333B00;
}

.starter-template {
    padding: 40px 15px;
    text-align: left; /* center */

}


.theme-showcase .navbar .container {
    width: auto;
}

.bs-docs-header, .bs-docs-masthead {
    position: relative;
    text-align: left;
    padding: 30px 15px;
    /*
    color: #CDBFE3;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    background-color: #6F5499;
    background-image: linear-gradient(to bottom, #563D7C 0px, #6F5499 100%);
    background-repeat: repeat-x;
    */
    /* #333B00, #33330F */
    color: #FFF;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    background-color: #333B00;
    background-image: linear-gradient(to bottom, #273300 0px, #2C3300 100%);
    background-repeat: repeat-x;
}
